* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  overflow: hidden;
}

.container {
  margin: 5vh auto;
  width: 1000px;
  height: 500px;
}

.container_full-screen {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.screen {
  background: url(../img/grid.jpeg);
}

.screen_full-screen {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#vertical {
  display: none;
}

@media all and (orientation: portrait) {
  #container {
    display: none;
  }

  #vertical {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: url(../img/no_vertical.jpeg);
    background-size: cover;
    background-position: center;
  }
}

.btn-full-screen {
  display: block;
  position: relative;
  margin: 5px 0;
  padding: 10px 0;
  cursor: pointer;
}

.btn-full-screen_full-screen {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}
